<!doctype html>
<html lang="it">

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Nome del Comune</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="../assets/bootstrap-italia/dist/css/bootstrap-italia.min.css">
  <link href="../assets/css/bootstrap-italia-comuni.css" rel="stylesheet"></head>

  <body>
    <div class="skiplink">
      <a class="visually-hidden-focusable" href="#main-container">Vai ai contenuti</a>
      <a class="visually-hidden-focusable" href="#footer">Vai al
        footer</a>
      
    </div><!-- /skiplink -->
            <header class="it-header-wrapper" data-bs-target="#header-nav-wrapper" style="">
              <div class="it-header-slim-wrapper">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="it-header-slim-wrapper-content">
                        <a class="d-lg-block navbar-brand" target="_blank" href="#" aria-label="Vai al portale {Nome della Regione} - link esterno - apertura nuova scheda" title="Vai al portale {Nome della Regione}">Nome della Regione</a>
                        <div class="it-header-slim-right-zone" role="navigation">
                          <div class="nav-item dropdown">
                            <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-controls="languages" aria-haspopup="true">
                              <span class="visually-hidden">Lingua attiva:</span>
                              <span>ITA</span>
                              <svg class="icon">
                                <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use>
                              </svg>
                            </button>
                            <div class="dropdown-menu">
                              <div class="row">
                                <div class="col-12">
                                  <div class="link-list-wrapper">
                                    <ul class="link-list">
                                      <li><a class="dropdown-item list-item" href="#"><span>ITA <span class="visually-hidden">selezionata</span></span></a></li>
                                      <li><a class="dropdown-item list-item" href="#"><span>ENG</span></a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <a class="btn btn-primary btn-icon btn-full" href="../servizi/accesso-servizio.html" data-element="personal-area-login">
                            <span class="rounded-icon" aria-hidden="true">
                              <svg class="icon icon-primary">
                                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-user"></use>
                              </svg>
                            </span>
                            <span class="d-none d-lg-block">Accedi all'area personale</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="it-nav-wrapper">
                <div class="it-header-center-wrapper">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="it-header-center-content-wrapper">
                          <div class="it-brand-wrapper">
                            <a href="homepage.html">
                                <svg width="82" height="82" class="icon" aria-hidden="true">
                                  <image xlink:href="../assets/images/logo-comune.svg"/>
                                </svg>
                                <div class="it-brand-text">
                                  <div class="it-brand-title">Il mio Comune</div>
                                  <div class="it-brand-tagline d-none d-md-block">Un comune da vivere </div>
                                </div>
                              </a>
                          </div>
                          <div class="it-right-zone">
                            <div class="it-socials d-none d-lg-flex">
                              <span>Seguici su</span>
                              <ul>
                                <li>
                                  <a href="#" target="_blank">
                                    <svg class="icon icon-sm icon-white align-top">
                                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-twitter"></use>
                                    </svg>
                                    <span class="visually-hidden">Twitter</span></a>
                                </li>
                                <li>
                                  <a href="#" target="_blank">
                                    <svg class="icon icon-sm icon-white align-top">
                                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-facebook"></use>
                                    </svg>
                                    <span class="visually-hidden">Facebook</span></a>
                                </li>
                                <li>
                                  <a href="#" target="_blank">
                                    <svg class="icon icon-sm icon-white align-top">
                                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-youtube"></use>
                                    </svg>
                                    <span class="visually-hidden">YouTube</span></a>
                                </li>
                                <li>
                                  <a href="#" target="_blank">
                                    <svg class="icon icon-sm icon-white align-top">
                                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-telegram"></use>
                                    </svg>
                                    <span class="visually-hidden">Telegram</span></a>
                                </li>
                                <li>
                                  <a href="#" target="_blank">
                                    <svg class="icon icon-sm icon-white align-top">
                                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-whatsapp"></use>
                                    </svg>
                                    <span class="visually-hidden">Whatsapp</span></a>
                                </li>
                                <li>
                                  <a href="#" target="_blank">
                                    <svg class="icon icon-sm icon-white align-top">
                                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-rss"></use>
                                    </svg>
                                    <span class="visually-hidden">RSS</span></a>
                                </li>
                              </ul>
                            </div>
                            <div class="it-search-wrapper">
                              <span class="d-none d-md-block">Cerca</span>
                              <button class="search-link rounded-icon" type="button" data-bs-toggle="modal" data-bs-target="#search-modal" aria-label="Cerca nel sito">
                                <svg class="icon">
                                  <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-search"></use>
                                </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="it-header-navbar-wrapper" id="header-nav-wrapper">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <!--start nav-->
                        <div class="navbar navbar-expand-lg has-megamenu">
                          <button class="custom-navbar-toggler" type="button" aria-controls="nav4" aria-expanded="false" aria-label="Mostra/Nascondi la navigazione" data-bs-target="#nav4" data-bs-toggle="navbarcollapsible">
                            <svg class="icon">
                              <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-burger"></use>
                            </svg>
                          </button>
                          <div class="navbar-collapsable" id="nav4">
                            <div class="overlay" style="display: none;"></div>
                            <div class="close-div">
                              <button class="btn close-menu" type="button">
                                <span class="visually-hidden">Nascondi la navigazione</span>
                                <svg class="icon">
                                  <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-close-big"></use>
                                </svg>
                              </button>
                            </div>
                            <div class="menu-wrapper">
                              <a href="homepage.html" class="logo-hamburger">
                                <svg class="icon" aria-hidden="true">
                                  <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-pa"></use>
                                </svg>
                                <div class="it-brand-text">
                                  <div class="it-brand-title">Nome del Comune</div>
                                </div>
                              </a>
                              <nav aria-label="Principale">
                                <ul class="navbar-nav" data-element="main-navigation">
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/amministrazione.html" data-element="management">
                                      <span>Amministrazione</span>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/novita.html" data-element="news">
                                      <span>Novità</span>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/servizi.html" data-element="all-services">
                                      <span>Servizi</span>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/eventi.html" data-element="live">
                                      <span>Vivere il Comune</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                              <nav aria-label="Secondaria">
                                <ul class="navbar-nav navbar-secondary">
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/argomento.html">Iscrizioni</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/argomento.html">Estate in città</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/argomento.html">Polizia locale</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="argomenti.html" data-element="all-topics">
                                      <span>Tutti gli argomenti 
                                        <svg class="icon icon-sm">
                                          <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-chevron-right"></use>
                                        </svg>
                                      </span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </header>
    <main>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </main>
    <div class="modal fade search-modal" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content perfect-scrollbar">
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>    <footer class="it-footer" id="footer">
      <div class="it-footer-main">
        <div class="container">
          <div class="row">
            <div class="col-12 footer-items-wrapper logo-wrapper">
              <img class="ue-logo" src="../assets/images/logo-eu-inverted.svg" alt="logo Unione Europea">
              <div class="it-brand-wrapper">
                <a href="#">
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-pa"></use>
                  </svg>
                  <div class="it-brand-text">
                    <h2 class="no_toc">Nome del Comune</h2>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 footer-items-wrapper">
              <h4 class="footer-heading-title">Amministrazione</h4>
              <ul class="footer-list">
                <li>
                  <a href="/amministrativo/organi/">Organi</a>
                </li>
                <li>
                  <a href="/contatti/">Contatti</a>
                </li>
                <li>
                  <a href="/uffici/">Uffici</a>
                </li>
                <li>
                  <a href="/presidente/">presidente</a>
                </li>
                <li>
                  <a href="#">Documenti e dati</a>
                </li>
              </ul>
            </div>
            <div class="col-md-6 footer-items-wrapper">
              <h4 class="footer-heading-title">Ambiti politiche giovanili</h4>
              <div class="row">
                <div class="col-md-6">
                  <ul class="footer-list">
                    <li>
                      <a href="https://arenagiovani.gjdev.it/sport/">Sport dei giovani</a>
                    </li>
                    <li>
                      <a href="https://arenagiovani.gjdev.it/istruzione/">istruzione</a>
                    </li>
                    <li>
                      <a href="https://arenagiovani.gjdev.it/associazioni-per-i-giovani/">Associazioni per i giovani</a>
                    </li>
                    <li>
                      <a href="https://arenagiovani.gjdev.it/cultura/">Cultura giovani a Fontanafredda</a>
                    </li>
                    <li>
                      <a href="https://arenagiovani.gjdev.it/amministrativo/sondaggi/">sondaggi</a>
                    </li>
                    <li>
                      <a href="https://arenagiovani.gjdev.it/PI/">Piattaforma Unica Giovani</a>
                    </li>
                    <li>
                      <a href="https://arenagiovani.gjdev.it/supporto/">Supporto</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <div class="container">
                    <p>Il progetto "arena giovani" è un progetto gestito da un gruppo di giovani di Fontanafredda. Il Comune di Fontanafredda non collabora in nessun modo.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 footer-items-wrapper">
              <h4 class="footer-heading-title">Novità</h4>
              <ul class="footer-list">
                <li>
                  <a href="https://blog.arenagiovani.gjdev.it">Notizie</a>
                </li>
                <li>
                  <a href="https://arenagiovani.gjdev.it/press/">Comunicati</a>
                </li>
                <li>
                  <a href="https://arenagiovani.gjdev.it/allert/">Avvisi</a>
                </li>
              </ul>
              <h4 class="footer-heading-title">Persone</h4>
              <ul class="footer-list">
                <li>
                  <a href="/presidente/">Presidente</a>
                </li>
                <li>
                  <a href="/persone-online/">Persone online</a>
                </li>
              </ul>
            </div>
            <div class="col-md-9 mt-md-4 footer-items-wrapper">
              <h4 class="footer-heading-title">Contatti</h4>
              <div class="row">
                <div class="col-md-4">
                  <p class="footer-info">Arena Giovani<br>
                    Comune di Fontanafredda<br><br><br>
                    <a href="/uffici/urp/">Ufficio Relazioni con il Pubblico</a><br>
                    Posta Elettronica : arenagiovani@gjdev.it<br>
                  </p>
                </div>
                <div class="col-md-4">
                  <ul class="footer-list">
                    <li>
                      <a href="#">Richiesta d'assistenza</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="footer-list">
                    <li>
                      <a href="/trasparenza/">Trasparenza</a>
                    </li>
                    <li>
                      <a href="#" data-element="privacy-policy-link">Informativa privacy</a>
                    </li>
                    <li>
                      <a href="#" data-element="legal-notes">Note legali</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 footer-items-wrapper">
              <div class="footer-bottom">
                <a href="/media-policy/">Media policy</a>
                <a href="/servizi-famiglie/">servizi famiglie - ava</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../assets/bootstrap-italia/dist/js/bootstrap-italia.bundle.min.js"></script>
    <script>bootstrap.loadFonts("../assets/bootstrap-italia/dist/fonts")</script>
  <script src="../assets/script/scripts.js"></script></body>

</html>
