<footer class="it-footer" id="footer">
    <div class="it-footer-main">
      <div class="container">
        <div class="row">
          <div class="col-12 footer-items-wrapper logo-wrapper">
            <img class="ue-logo" src="../assets/images/logo-eu-inverted.svg" alt="logo Unione Europea">
            <div class="it-brand-wrapper">
              <a href="#">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-pa"></use>
                </svg>
                <div class="it-brand-text">
                  <h2 class="no_toc">Arena giovani - UE</h2>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 footer-items-wrapper">
            <h4 class="footer-heading-title">Amministrazione</h4>
            <ul class="footer-list">
              <li>
                <a href="/organi/">Organi</a>
              </li>
              <li>
                <a href="/uffici/">Uffici</a>
              </li>
              <li>
                <a href="/presidente/">Presidente</a>
              </li>
              <li>
                <a href="/documenti/">Documenti e dati</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 footer-items-wrapper">
            <h4 class="footer-heading-title">Categorie di servizio</h4>
            <div class="row">
              <div class="col-md-6">
                <ul class="footer-list">
                  <li>
                    <a href="/cultura-tempo-libero/">Cultura e tempo libero</a>
                  </li>
                  <li>
                    <a href="/trasporti/">Mobilità e trasporti</a>
                  </li>
                  <li>
                    <a href="/istruzione/">Educazione e formazione</a>
                  </li>
                  <li>
                    <a href="/ambiente/">Ambiente</a>
                  </li>
                  <li>
                    <a href="/servizi-sociali/">Salute, benessere e assistenza</a>
                  </li>                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 footer-items-wrapper">
            <h4 class="footer-heading-title">Novità</h4>
            <ul class="footer-list">
              <li>
                <a href="https://blog.arenagiovani.gjdev.it">Notizie</a>
              </li>
              <li>
                <a href="/comunicati">Comunicati</a>
              </li>
              <li>
                <a href="/avvisi/">Avvisi</a>
              </li>
            </ul>
            <h4 class="footer-heading-title">Persone</h4>
            <ul class="footer-list">
              <li>
                <a href="/presidente/">Presidente</a>
              </li>
              <li>
                <a href="/persone-online/">Persone online</a>
              </li>
            </ul>
          </div>
          <div class="col-md-9 mt-md-4 footer-items-wrapper">
            <h4 class="footer-heading-title">Contatti</h4>
            <div class="row">
              <div class="col-md-4">
                <p class="footer-info">Arena Giovani<br><br>
                  <a href="/urp/">Ufficio Relazioni con il Pubblico</a><br></p>
              </div>
              <div class="col-md-4">
                <ul class="footer-list">
                  <li>
                    <a href="/trasparenza/">Trasparente</a>
                  </li>
                  <li>
                    <a href="/privacy/" data-element="privacy-policy-link">Privacy</a>
                  </li>
                  <li>
                    <a href="/note-legali/" data-element="legal-notes">Note legali</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 footer-items-wrapper">
            <div class="footer-bottom">
              <a href="/policy/">Media policy</a>
            <a href="https://comune.fontanafredda.pn.it">Comune di Fontanafredda</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
